{% extends "layout.html" %}

{% block title %}Coffee Data{% endblock title %}

{% block main %}
<!-- Need to setup with wtform -->
<div class="wip">
    <img src="{{ url_for('static', filename='wip.png') }}" alt="Work in Progress">
</div>
<form action="/coffeedata" method="post">
    <fieldset>
        <legend>Coffee Type</legend>
        <input type="text" name="brand" placeholder="Brand">
        <input type="text" name="roast" placeholder="Roast">
        <input type="text" name="origin" placeholder="Origin">
    </fieldset>

    <input type="submit" value="Submit">
</form>
{% endblock main %}