<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CCData - {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <header>
        <nav class="mainnav">
            <!-- Centered link -->
            <div class="mainnav-centered">
                <a href="/"><img id="brandlogo" src="{{ url_for('static', filename='logo.png') }}"
                        alt="CCData Logo"></a>
            </div>
            <!-- Left-aligned links (default) -->
            <a href="/cakedata">Cake Data</a>
            <a href="/coffeedata">Coffee Data</a>

            <!-- Right-aligned links -->
            <div class="mainnav-right">
                <a href="/search">Search</a>
                <a href="/login">Login</a>
            </div>
        </nav>


    </header>
    <main>
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert-{{ category }}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% block main %}{% endblock main %}
    </main>
</body>

</html>