{% extends "layout.html" %}

{% block title %}Login{% endblock title %}

{% block main %}
<div class="wip">
    <img src="{{ url_for('static', filename='wip.png') }}" alt="Work in Progress">
</div>
<form action="/login" method="post">
    <div class="logininput">
        <input type="text" autocomplete="off" required id="username" name="username" placeholder="Username">
    </div>
    <div class="logininput">
        <input type="password" autocomplete="off" required id="password" name="password" placeholder="Password">
    </div>
    <div class="submitbutton">
        <input type="submit" value="Login">
    </div>

</form>
{% endblock main %}