{% extends "layout.html" %}

{% block title %}Login{% endblock title %}

{% block main %}
<div class="wip">
    <img src="{{ url_for('static', filename='wip.png') }}" alt="Work in Progress">
</div>

<div class="login form">
    <form action="/login" method="post">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Login</legend>
            <div class="form-group">
                {{ form.username.label(class="form-group-label") }}
                {{ form.username(class="form-control", autocomplete="off") }}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-group-label") }}
                {{ form.password(class="form-control", autocomplete="off") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn") }}
            </div>
        </fieldset>
    </form>
</div>
{% endblock main %}