:root {
    --color-1: #3c240d;
    --color-2: #624a2d;
    --color-3: #8d7053;
    --color-4: #c8bcb1;
    --color-5: #e4dacf;
}

body {
    background-color: aliceblue;
}

/* Navbar Styling*/

.mainnav {
    position: relative;
    background-color: var(--color-2);
    overflow: hidden;
    min-height: 93px;
}

.mainnav a {
    float: left;
    color: var(--color-4);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 21px;
}

/* Change the color of links on hover */
.mainnav a:hover {
    background-color: var(--color-5);
    color: var(--color-3);
}

/* Add a color to the active/current link */
.mainnav a.active {
    background-color: #04AA6D;
    color: white;
}

/* Centered section inside the top navigation */
.mainnav-centered a {
    float: none;
    position: absolute;
    margin-top: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#brandlogo {
    max-width: 90px;
    margin-top: 1.5px;
}

/* Right-aligned section inside the top navigation */
.mainnav-right {
    float: right;
}

/* End Navbar Styling */

.wip {
    display: block;
    margin: auto;
    max-width: 300px;

}