{% extends "layout.html" %}

{% block title %}Cake Data{% endblock title %}

{% block main %}
<form action="/cakedata" method="post" name="cake">
    <fieldset>
        <legend>Flour</legend>
        <input type="text" autocomplete="off" placeholder="Brand" name="flourbrand">
        <input type="number" step=".25" autocomplete="off" placeholder="Amount" name="flouramount">
        <input type="radio" name="flourmeasure" value="cups" name="cups" id="flourcups">
        <label for="flourcups">Cup(s)</label>
        <input type="radio" name="flourmeasure" value="Grams" id="flourgrams">
        <label for="flourgrams">Gram(s)</label>
    </fieldset>
    <fieldset>
        <legend>Oil</legend>
        <input type="text" autocomplete="off" placeholder="Brand" name="oilbrand">
        <input type="number" step=".25" autocomplete="off" placeholder="Amount" name="oilamount">
        <input type="radio" name="oilmeasure" value="tablespoons" name="tablespoons" id="oiltablespoons">
        <label for="oiltablespoons">Tablespoon(s)</label>
        <input type="radio" name="oilmeasure" value="Grams" id="oilgrams">
        <label for="oilgrams">Gram(s)</label>
    </fieldset>
    <fieldset>
        <legend>Butter</legend>
        <input type="text" autocomplete="off" placeholder="Brand" name="butterbrand">
        <input type="number" step=".25" autocomplete="off" placeholder="Amount" name="butteramount">
        <input type="radio" name="buttermeasure" value="tablespoons" name="tablespoons" id="buttertablespoons">
        <label for="buttertablespoons">Tablespoon(s)</label>
        <input type="radio" name="buttermeasure" value="Grams" id="buttergrams">
        <label for="buttergrams">Gram(s)</label>
    </fieldset>
    <fieldset>
        <legend>Milk</legend>
        <input type="text" autocomplete="off" placeholder="Brand" name="milkbrand">
        <input type="number" step=".25" autocomplete="off" placeholder="Amount" name="milkamount">
        <input type="radio" name="milkmeasure" value="cups" name="cups" id="milkcups">
        <label for="milkcups">Cup(s)</label>
        <input type="radio" name="milkmeasure" value="Grams" id="milkgrams">
        <label for="milkgrams">Gram(s)</label>
    </fieldset>
    <fieldset>
        <legend>Sugar</legend>
        <input type="text" autocomplete="off" placeholder="Brand" name="sugarbrand">
        <input type="number" step=".25" autocomplete="off" placeholder="Amount" name="sugaramount">
        <input type="radio" name="sugarmeasure" value="cups" name="cups" id="sugarcups">
        <label for="sugarcups">Cup(s)</label>
        <input type="radio" name="sugarmeasure" value="Grams" id="sugargrams">
        <label for="sugargrams">Gram(s)</label>
    </fieldset>
    <fieldset>
        <legend>Salt</legend>
        <input type="text" autocomplete="off" placeholder="Brand" name="saltbrand">
        <input type="number" step=".25" autocomplete="off" placeholder="Amount" name="saltamount">
        <input type="radio" name="saltmeasure" value="teaspoons" name="teaspoons" id="saltteaspoons">
        <label for="saltteaspoons">Teaspoons(s)</label>
        <input type="radio" name="saltmeasure" value="Grams" id="saltgrams">
        <label for="saltgrams">Gram(s)</label>
    </fieldset>
    <fieldset>
        <legend>Water</legend>
        <input type="number" step=".25" autocomplete="off" placeholder="Amount" name="wateramount">
        <label for="wateramount">Cup(s)</label>
    </fieldset>
    <input type="submit" value="submit">
</form>
{% endblock main %}